body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button-color {
    background-color: rgb(77, 200, 245);
    border-radius: 0;
    border: 1px solid transparent;
}
    .button-color:hover, .button-color:focus {
        background-color: white;
        color: rgb(77, 200, 245);
        border: 1px solid rgb(77, 200, 245);
    }
.bg-test-page{
    border-radius:0;
}
.corporate-color{
    color:#FF6600;
}
.scroll-up {
    font-size: 3em;
}
.card-test {
    border: 0px;
    border-radius: 0px;
}
button.page-link {
    display: inline-block;
    font-size: 14px;
    color: #FF6600;
    font-weight: 500;
}

